@charset "UTF-8";

/* Estilos generales para todas las pantallas */
.galeria-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.galeria-index .imagen-lateral {
  flex: 0 0 30%;
  max-width: 100%;
}

.galeria-index .boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 0 0 4%;
  border: 0.219rem solid black;
  border-radius: 4.375rem;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
  padding: 0.625rem 1.25rem;
}

.galeria-index .boton a {
  color: red;
}

.btn-outline-primary>li:hover {
  text-decoration: none;
  text-decoration-color: blue;
}

.subtitulos1 {
  text-align: center;
  padding-top: 11.81rem;
  color: rgb(245, 9, 9);
  text-decoration: none;
  font-size: 6.61rem;
  padding-bottom: 14.17rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.625rem;
}

.galeria .imagen {
  position: relative;
  text-align: center;
}

.galeria .imagen img {
  margin-top: 4.375rem;
  max-width: 26.875rem;
  height: auto;
}

.pie-foto {
  margin-top: 2.188rem;
  margin-bottom: 1.875rem;
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-top: 3.438rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 1.25rem;
  width: 100%;
}

.menu-horizontal>li>a {
  display: flex;
  padding: 0.938rem 1.25rem;
  color: rgb(216, 211, 211);
  text-decoration: none;
  max-width: fit-content;
}

.menu-horizontal>li>a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(216, 211, 211);
}

.footer {
  background-color: rgba(0, 0, 0, 0.788);
  min-height: 11.25rem;
  color: black;
  padding-top: 0rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer-links {
  list-style: none;
  text-align: center;
}

.footer .footer-links>li {
  display: inline;
  margin: 10px;
}

.footer .footer-links>li>a {
  display: block;
  text-decoration: none;
  color: rgb(216, 211, 211);
}

.footer .footer-links>li>a:hover {
  text-decoration: underline;
  text-decoration-color: rgb(216, 211, 211);
}

.secciones {
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 18.75rem;
  font-style: oblique;
  padding-top: 3.438rem;
  padding-left: 11.563rem;
  padding-bottom: 1.875rem;
  font-family: "Times New Roman", Times, serif;
  font-size: 4.063rem;
  color: rgb(216, 211, 211);
}

.derechos-reservados {
  text-align: center;
  padding: 0.625rem 0;
  background-color: #333;
  color: white;
  font-size: 0.875rem;
}

.ayuda {
  text-align: center;
  color: rgb(202, 24, 178);
  text-decoration: none;
  margin-bottom: 3rem;
}

.titulos {
  text-align: center;
  color: rgb(202, 24, 178);
  text-decoration: none;
  padding-bottom: 2.5rem;
}

.subtitulos2 {
  text-align: center;
  text-decoration-line: none;
  display: block;
  color: rgb(202, 24, 178);
  text-decoration: none;
  padding-bottom: 1.875rem;
}

.ayuda-texto,
form {
  box-sizing: border-box;
  text-align: center;
  color: rgb(202, 24, 178);
  padding-left: 20rem;
  padding-right: 20rem;
}

.ayuda-texto form,
form form {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

/* Estilo para dispositivos, si es necesario */
@media (max-width: 1280px) {
  .menu-horizontal {
    flex-direction: column;
    align-items: center;
  }

  .imagen-lateral img {
    max-width: 100%;
    height: auto;
  }

  .menu-horizontal>li {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .navbar-brand {
    display: block;
    text-align: center;
  }

  .nombre-compania {
    padding-left: 0;
    font-size: 1.5rem;
  }

  .ayuda,
  .titulos,
  .secciones,
  .subtitulos2,
  .ayuda-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 0 1rem;
    /* Agregar espacio alrededor del texto */
    box-sizing: border-box;
    /* Asegura que el padding no afecte el tamaño total */
    margin-bottom: 2rem;
  }

  .subtitulos1 {
    font-size: 2rem;
    text-align: center;
    max-width: 100%;
    padding-top: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 100%;
    padding: 0 1rem;
    /* Agrega espacio alrededor del formulario */
    box-sizing: border-box;
    /* Asegura que el padding no afecte el tamaño total */
    margin-bottom: 3rem;
  }

  .galeria-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .galeria-index .imagen-lateral {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }

  .galeria {
    display: grid;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .galeria .imagen {
    position: relative;
    text-align: center;
  }

  .galeria .imagen img {
    margin-top: 4.375rem;
    max-width: 100%;
    height: auto;
  }

  .galeria .imagen .boton {
    flex: 0 0 100%;
    text-align: center;
  }
}


@media (min-width: 1300px) {
  @keyframes show {
    from {
      opacity: 0;
      scale: 25%;
    }

    to {
      opacity: 1;
      scale: 100%;
    }
  }

  .galeria-index,
  .galeria {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;
    animation-range: entry 15% cover 50%;
    animation-fill-mode: both;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-size: cover;
  font-family: "Times New Roman", Times, serif;
  /* font-size: 1.125rem; */
  color: rgba(192, 71, 11, 0.894);
}

/* Estilo de la barra de navegación */
nav {
  background-color: rgb(148, 14, 4);
  font-size: 1.125rem;
}

nav .nombre-compania {
  font-size: 3.438rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 18.75rem;
  font-style: oblique;
  color: rgb(216, 211, 211);
}

nav .nombre-compania:hover {
  text-decoration: underline;
  color: rgb(216, 211, 211);
}

/*# sourceMappingURL=style.css.map */