@media (min-width: 1300px) {
    @keyframes show {
      from {
        opacity: 0;
        scale: 25%;
      }
  
      to {
        opacity: 1;
        scale: 100%;
      }
    }
  
    .galeria-index,
    .galeria {
      view-timeline-name: --image;
      view-timeline-axis: block;
  
      animation-timeline: --image;
      animation-name: show;
  
      animation-range: entry 15% cover 50%;
      animation-fill-mode: both;
    }
  }