.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.625rem;

    .imagen {
        position: relative;
        text-align: center;

        img {
            margin-top: 4.375rem;
            max-width: 26.875rem;
            height: auto;
        }
    }
}

.pie-foto {
    margin-top: 2.188rem;
    margin-bottom: 1.875rem;
}